.dynamic-article-header-content {
    backdrop-filter: blur(8px);
}

.article-header-title {
    font-size: 36px;
}

a {
    cursor: pointer;
}


.copy-text {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    opacity: 1;
}

.custom-toltip {
    position: relative;
    bottom: 33px;
    right: 97px;
}

.custom-toltip p {
    background: rgba(128, 128, 128, 0.252);
    color: rgba(255, 255, 255, 0.813);
    transition: .5s ease-in;
    margin: 0;
    padding: 2px 10px;
}

.main-article-content {
    font-family: 'Nunito', sans-serif;
}

.main-article-content a {
    color: #0C8AE6 !important;
}

@media screen and (max-width:1024px) {
    .article-header-title {
        font-size: 28px;
    }
}
@media screen and (max-width:768px) {
    .article-header-title {
        font-size: 24px;
    }
}